{% extends "index.html" %}
{% load i18n %}
{% load pagination %}
    {% block thumb %}

    {% for obj in filter.qs|slice:":2" %}
        {% with obj as object %}
            {% include 'post/includes/thumb_section.html' %}
        {% endwith %}
    {% empty %}
        <h1>{% trans 'Nothing to show' %}</h1>
    {% endfor %}
    {% endblock %}



    {% block content %}
        {% for obj in filter.qs|slice:"2:10" %}
        {% with obj as object %}
            {% include 'post/includes/content_post.html' %}
        {% endwith %}
    {% empty %}
        <h1></h1>
    {% endfor %}
    {% if object_list %}
    <div class="col-md-12"><nav aria-label="...">
          <ul class="pagination">
            {% if page_obj.has_previous %}
            <li >
                <a class="page-link" href="?{% paginating %}1"> {% trans 'First' %}</a>
                <a class="page-link" href="?{% paginating %}{{ page_obj.previous_page_number }}"> {% trans 'Previous' %}</a>
            </li>
            {% endif %}
            <li class="page-item active">
                <span class="current">
                {% trans 'Page' %} {{ page_obj.number }} {% trans 'of' %} {{ page_obj.paginator.num_pages }}.
            </span>
            </li>
           {% if page_obj.has_next %}
            <li >
              <a class="page-link" href="?{% paginating %}{{ page_obj.next_page_number }}">{% trans 'Next' %}&raquo;</a>
              <a class="page-link" href="?{% paginating %}{{ page_obj.paginator.num_pages }}">{% trans 'Last' %}</a>
            </li>
            {% endif %}
          </ul>
        </nav>
    </div>

    {% endif %}

    {% endblock %}
<!-- Pagination -->

        <!-- /Pagination -->